<footer class="bg-gray-900 text-white py-8 mt-12">
    <div class="max-w-6xl mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Logo / Brand -->
        <div>
            <h2 class="text-lg font-semibold mb-3">Ball-Ballan</h2>
            <p class="text-sm text-gray-400">Community Football Shop</p>
        </div>

        <!-- Links -->
        <div>
            <h2 class="text-lg font-semibold mb-3">Menu</h2>
            <ul class="space-y-2 text-sm">
                <li>
                    <a href="/" class="hover:underline">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#products" class="hover:underline">
                        Product
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="border-t border-gray-700 mt-6 pt-4 text-center text-sm text-gray-400">
        &copy; <span id="year"></span> Ball-Ballan Corporation

        <p>Aplikasi dikembangan oleh Rexy Adrian Fernando - PBP D</p>
    </div>
</footer>

<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>